#sidebar
  display: none !important

#content
  margin: 0 auto
  width: 100%
  float: none
  display: initial

#posts
  width: 100%
  float: none
  display: initial
  padding-left: 1rem
  padding-right: 1rem
  margin: 0 auto
