$primary: #494949
$secondary: #09f
$tertiary: #e70

html, body
    width: 100%
    height: 100%
    margin: 0
    color: $primary

a
    text-decoration: unset
    color: $secondary
    display: inline-block

a:hover
    color: $tertiary

code
    background: #ddd
    padding: .1em
    border-radius: .333em

h1, h2, h3, h4, p
    padding: .5rem 0
    margin: 0

ul
    margin: 0
    padding-top: .25rem
    padding-bottom: .25rem

li
    list-style: none

li:before
    content: "\2022"
    color: $secondary
    font-weight: bold
    font-size: 18pt
    display: inline-block
    width: 1rem
    margin-left: -1em

li > ul
    padding-top: 0
    padding-bottom: 0

p, li
    line-height: 1.5em

h1, h2, h3
    line-height: 1.2em

h1
    font-size: 24pt
h2
    font-size: 18pt
h3
    font-size: 14pt

pre
    margin: 1em 2em
    padding: .5em

blockquote
    border-left: .5rem solid $secondary
    margin: 1rem 2rem
    padding: .5rem 1rem

blockquote blockquote
    border-color: $tertiary

img
    max-width: 100%

figure
    margin: auto
    padding: 1rem
    display: flex
    flex-flow: column

figure
    text-align: center

figcaption
    font-style: italic

body a
    display: unset !important

strong
    color: #000

body
    height: 100%
    display: flex
    #content
        padding-left: 3.8rem
        width: 100%
        background: #eee
        overflow: auto
        > article
            margin: 0 auto 2rem auto
            max-width: 50rem
            padding: .25rem 1rem 1rem 1rem
            background: #fff
            > header
                font-weight: bold
                padding-bottom: .25em
                margin-bottom: .5em
                border-bottom: .2em solid $primary
            #post-title
                font-size: 2.25rem
                padding-bottom: 0
                color: $secondary
            #created, #categories, #tags
                display: flex
                padding: .2rem 0
            #categories .elm, #tags .elm, time
                padding-left: .25rem
                color: $secondary


#sidebar
    background: $primary
    width: 3.5rem
    height: 100vh
    padding: 0 .15em
    position: fixed
    display: flex
    flex-direction: column
    a
        line-height: 0
    img
        border-radius: 50%
        background: #fff
        object-fit: cover
        width: 48px
        height: 48px
        margin: .125em auto
        padding: .125rem

    img:hover
        box-shadow: 0 0 .333rem #fff

#index
    display: flex
    flex-direction: column
    justify-content: space-between
    max-width: 50em
    margin: auto
    padding: 1rem
    time
        text-align: center
        padding: .1rem .5rem
        width: 5em
    article
        padding: .5rem 0
        background: #fff
        box-shadow: .1em .2em .4em
        transition: all .2s ease-in-out
        margin: .75rem 0
        h1, p
            padding: 0 .5rem
            margin: 0
    article:hover
        transform: scale(1.03)
    header
        display: flex
        flex-direction: column
        font-weight: bold
        margin-bottom: .5em
        h1
            font-size: 1.5rem
            flex-grow: 1
            border-bottom: .25rem solid $primary
    .details
        display: flex
        justify-content: flex-end
        color: #fff
        time
            background: $primary
            font-size: 1rem
            align-self: end
            padding-bottom: .125rem
    .cats
        display: flex
        background: $secondary
        padding: .1rem .3rem
        div
            padding: 0 .2rem

@media screen and (max-width: 480)
    #index article > header
        flex-direction: column

#sidebar_start, #sidebar_end
    margin: auto

#sidebar_start
    padding-top: .25em

#sidebar_end
    padding-bottom: .25em
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: end

.tooltip
    position: relative
    border-bottom: 1px dotted black

.tooltip .tooltiptext
    visibility: hidden
    background-color: $primary
    color: #fff
    text-align: center
    margin-left: 1em
    top: .5em
    padding: 1rem 1rem
    border-radius: 6px
    position: absolute
    z-index: 1

.tooltip:hover .tooltiptext
    visibility: visible

#sections
    margin: auto

#zola-continue-reading
    visibility: hidden
    line-height: 0
    padding: 0
    margin: 0

#pagination
    max-width: 50em
    margin: auto
    padding: 1rem
    font-weight: bold
    font-size: 1.25em

#previous
    float: left

#next
    float: right
