{% extends "master.html" %}

{% block content %}
<main id="404">
    <h1 class="post-title">404: Page Not Found</h1>
    <p>The page that you seek does not exist. It may have been renamed.</p>
</main>
{% endblock content %}
