{% extends "master.html" %}

{% block content %}
<main id="index">
    {% for page in paginator.pages %}
    <article>
        <header>
            <h1><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
            <div class="details">
                <div class="cats">
                    {% for category in page.taxonomies.categories %}
                        {% if loop.index != 1 %}
                        <div>::</div>
                        {% endif %}
                        <div>{{category}}</div>
                    {% endfor %}
                </div>
                <time>{{ page.date }}</time>
            </div>
        </header>
        <p>{{ page.summary | safe }}</p>
    </article>
    {% endfor %}
</main>
<nav id="pagination">
    {% if paginator.previous %}
    <a id="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
    <a id="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>
{% endblock %}
