<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <link rel="stylesheet" href="/zola-dock-print.css" media="print">
    <link rel="stylesheet" href="/zola-dock-main.css">
    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="sidebar">
        <div id="sidebar_start">
            {% for item in config.extra.sidebar_start %}
            <a href="{{ item.url | safe }}">
                <div class="tooltip">
                    <img src="/{{ item.img | safe }}" />
                    <span class="tooltiptext">{{ item.id }}</span>
                </div>

            </a>
            {% endfor %}
        </div>

        <nav id="sidebar_end">
            {% for item in config.extra.sidebar_end %}
            <a href="{{ item.url | safe }}">
                <div class="tooltip">
                    <img id="{{ item.id }}" class="sidebar-icon" src="/{{ item.img | safe }}"
                        alt="{{ item.id }}" />
                    <span class="tooltiptext">{{ item.id }}</span>
                </div>
            </a>
            {% endfor %}
        </nav>
    </div>
    <div id="content">{% block content %}{% endblock content %}</div>
</body>

</html>
