{% extends "master.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<article>
    <header>
        <h1 id="post-title">{{ page.title }}</h1>
        <details>
            <div id="created">Date written: <time class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</time></div>
            <div id="categories">
                Categories:
                {% for category in page.taxonomies.categories %}
                {% if loop.index != 1 %}
                <div>,</div>
                {% endif %}
                <div class="elm">{{category}}</div>
                {% endfor %}
            </div>
            <div id="tags">
                Tags:
                {% for tag in page.taxonomies.tags %}
                {% if loop.index != 1 %}
                <div>,</div>
                {% endif %}
                <div class="elm">{{tag}}</div>
                {% endfor %}
            </div>
        </details>
    </header>
    {{ page.content | safe }}
</article>
{% endblock content %}
